<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Trang cá nhân</title>

    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>

  <body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">TDTU</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">
                Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!">Trang cá nhân</a>
            </li>
            <% if(user.role[0] === 'admin') { %>
            <li class="nav-item">
              <a class="nav-link" href="/user/register"
                >Tạo tài khoản Phòng/Khoa</a
              >
            </li>
            <% } else if (user.role[0] === 'student') { %>
            <li class="nav-item">
              <a class="nav-link" href="/user/changeinfo"
                >Thay đổi thông tin cá nhân</a
              >
            </li>
            <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/user/changepass">Đổi mật khẩu</a>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Page content-->
    <div class="container">
      <div class="row">
        <!-- Side widgets-->
        <div class="col-md-4">
          <!-- user widget-->
          <div class="card my-4">
            <div class="card-body">
              <ul class="list-unstyled mb-0">
                <% if (allposts){%>
                <li><h3>Username: <%= allposts[0].userid.username %></h3></li>
                <li><h3>MSSV: <%= allposts[0].userid.mssv %></h3></li>
                <li><h3>Lớp: <%= allposts[0].userid.class %></h3></li>
                <li><h3>Khoa: <%= allposts[0].userid.khoa %></h3></li>
                <li><h3>Role: <%= allposts[0].userid.role %></h3></li>
                <%} else{%>
                <li><h3>Username: <%= u.username %></h3></li>
                <li><h3>MSSV: <%= u.mssv %></h3></li>
                <li><h3>Lớp: <%= u.class %></h3></li>
                <li><h3>Khoa: <%= u.khoa %></h3></li>
                <li><h3>Role: <%= u.role %></h3></li>
                <%}%>
              </ul>
            </div>
          </div>
        </div>
        <!-- Blog entries-->
        <div class="col-md-8">
          <!-- Blog post-->
          <% if(allposts){ allposts.forEach((post) =>{ %>
          <div class="card mb-4 mt-3">
            <% if(post.image) {%>
            <img class="card-img-top" src="<%= post.image %>" alt="" />
            <%}%> <% if(post.video) {%>
            <iframe width="fit-content" height="500" src="<%= post.video %>">
            </iframe>
            <%}%>

            <div class="card-body">
              <h2 class="card-title"><%= post.title %></h2>
              <p class="card-text text-truncate"><%= post.content %></p>
              <a class="btn btn-primary" href="/post/<%= post._id%>"
                >Chi Tiết →</a
              >
            </div>
            <div class="card-footer text-muted">
              Posted on <%= post.createdAt %> by <% if(post.userid.role[0] ===
              'student') { %>
              <a href="#!"><%= post.userid.username %></a>
              <% } else if(post.userid.role[0] === 'admin') { %>
              <a href="#!"><%= post.userid.role[0] %></a>
              <% }else{ %>
              <a href="#!"><%= post.pk %></a>
              <% } %>
            </div>
          </div>
          <% }) }else{%>
          <h3>KHÔNG CÓ GÌ HẾT</h3>
          <%}%>
        </div>
      </div>
    </div>
  </body>
</html>
